.movie {
  margin-left: 30rem;
  margin-top: 10rem;
  animation: appear 1s linear;
  @media only screen and (max-width: 1025px) {
    margin-left: 0;
    width: 100%;
  }
  @media only screen and (max-width: 415px) {
    margin-top: 4rem;
  }
  &__favorite-warning {
    position: absolute;
    right: -10rem;
    bottom: 10rem;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid red;
    width: 35rem;
    padding: 1rem;
    color: var(--color-white-2);
    text-align: center;
    & p {
      font-size: 1.6rem;
    }
    @media only screen and (max-width: 1025px) {
      right: 0;
    }
    @media only screen and (max-width: 415px) {
      bottom: 21rem;
    }
  }
  &__favorite-accept {
    position: absolute;
    right: -6rem;
    bottom: 10rem;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--color-arrow-1);
    width: 22rem;
    text-align: center;
    padding: 1rem;
    color: var(--color-white-2);
    transition: 0.4s all;
    opacity: 0;
    & p {
      font-size: 1.6rem;
    }
    &--active {
      opacity: 1;
    }
    @media only screen and (max-width: 1025px) {
      right: 0;
    }
  }
  &__backdrop {
    height: 43rem;
    width: 136rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    @media only screen and (max-width: 1025px) {
      width: 100%;
    }
    @media only screen and (max-width: 415px) {
      height: 35rem;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        rgba(0, 0, 0, 0.6) 50%,
        rgba(0, 0, 0, 0.5) 85%
      );
    }
  }

  &__image {
    position: absolute;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    top: 41%;
    left: 5%;
    width: 25rem;
    height: auto;
    @media only screen and (max-width: 1025px) {
      left: 3%;
    }
    @media only screen and (max-width: 415px) {
      width: 17rem;
      top: 60%;
    }
  }

  &__genres {
    position: absolute;
    font-size: 1.6rem;
    color: var(--color-white-2);
    top: 135%;
    width: 25rem;
    text-align: center;
    left: 5%;
    font-style: italic;
    font-weight: 100;
    @media only screen and (max-width: 1025px) {
      left: 3%;
    }
    @media only screen and (max-width: 415px) {
      top: 140%;
      width: 95%;
      text-align: left;
    }
  }
  &__info {
    position: absolute;
    top: 40%;
    left: 25%;
    @media only screen and (max-width: 769px) {
      top: 15rem;
      left: 30rem;
    }
    @media (orientation: landscape) and (max-width: 812px) {
      left: 32%;
    }
    @media (orientation: landscape) and (max-width: 668px) {
      left: 35%;
      top: 35%;
    }
    @media only screen and (max-width: 415px) {
      left: 40%;
      top: 52%;
    }
    @media only screen and (max-width: 376px) {
      left: 45%;
    }
    @media only screen and (max-width: 321px) {
      left: 50%;
    }
  }

  &__heading {
    font-size: 4rem;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    color: var(--color-blue-dark);
    @media only screen and (max-width: 415px) {
      font-size: 2.7rem;
    }
  }
  & .icon-heart {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    fill: var(--color-white-2);
    cursor: pointer;
    &--active {
      fill: var(--color-arrow-1);
    }
    @media only screen and (max-width: 415px) {
      bottom: 1rem;
      right: 1rem;
    }
    @media only screen and (max-width: 376px) {
      bottom: 15.5rem;
    }
  }
  &__rating {
    font-size: 2rem;
    color: var(--color-blue-dark);
    &-wrapper {
      margin-top: 1rem;
      width: 18rem;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 3px 3px;
      display: flex;
      flex-direction: row;
      &-1 {
        display: flex;
        flex-direction: column;
        & span {
          color: var(--color-white-2);
          font-size: 1.6rem;
          // display: block;
          margin-top: 1rem;
          & .icon-star-full {
            // display: block;
            vertical-align: -0.2rem;
            margin-right: 1rem;
            fill: rgba(252, 185, 65, 1);
          }
        }
      }

      &-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }
    }

    &-imdb {
      width: 5rem;
      display: inline-block;
    }
    &-fb {
      width: 2.3rem;
      margin-left: 1rem;
      border-radius: 5px;
    }
  }
  &__release {
    width: 18rem;
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--color-blue-dark);
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 3px 3px;

    & span {
      display: block;
      font-size: 1.6rem;
      margin-top: 1rem;
      color: var(--color-white-2);
    }
  }

  &__overview {
    border-left: 0.2rem solid var(--color-blue-dark);
    min-height: 20rem;
    padding: 1rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
    margin-left: 34rem;
    color: var(--color-blue-dark);
    width: 102rem;
    @media only screen and (max-width: 1025px) {
      width: 74%;
    }
    @media only screen and (max-width: 769px) {
      width: 70%;
      margin-left: 30rem;
    }
    @media (orientation: landscape) and (max-width: 812px) {
      width: 67.5%;
    }
    @media (orientation: landscape) and (max-width: 668px) {
      width: 65%;
    }
    @media only screen and (max-width: 415px) {
      width: 100%;
      margin-left: 0;
      margin-top: 19rem;
    }
    &-heading {
      margin-left: 2rem;
      font-size: 2rem;
      position: relative;
      &:after {
        content: "";
        width: 9rem;
        height: 1px;
        position: absolute;
        top: 140%;
        left: 0;
        background-color: var(--color-blue-dark);
      }
    }
    &-paragraph {
      padding: 0 1.5rem;
      margin-top: 3rem;
      font-size: 1.6rem;
      height: 100%;
      color: var(--color-white-2);
    }
  }
  &__trailer {
    margin-top: 2rem;
    height: 31rem;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 0.2rem solid var(--color-blue-dark);
    position: relative;
    animation: appear 1s 0.5s linear;
    @media only screen and (max-width: 1025px) {
      width: 100%;
    }

    & iframe {
      padding: 2rem 1rem;
      padding-top: 9rem;
      border: none;
      @media only screen and (max-width: 1601px) {
        width: 25%;
        height: 90%;
      }
      @media only screen and (max-width: 1025px) {
        width: 25%;
        height: auto;
        padding-top: 7rem;
      }
      @media only screen and (max-width: 415px) {
        width: 90%;
      }
    }
    &-heading {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 2.8rem;
      font-size: 2rem;
      color: var(--color-blue-dark);

      &:after {
        content: "";
        width: 7.5rem;
        height: 1px;
        position: absolute;
        top: 100%;
        left: 22%;
        background-color: var(--color-blue-dark);
      }
    }

    &-paragraph {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      color: var(--color-white-2);
      font-weight: 100;
      @media only screen and (max-width: 415px) {
        font-size: 2rem;
      }
    }
  }

  &__cast {
    border-left: 2px solid var(--color-blue-dark);
    & .main__item {
      margin-top: 7rem;
      margin-left: 5rem;
    }

    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 0;
    height: 38rem;
    &-heading {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 0;
      padding-left: 1rem;
      margin-left: 1rem;
      font-size: 2rem;
      color: var(--color-blue-dark);
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 100%;
        left: 22%;
        background-color: var(--color-blue-dark);
      }
    }
  }

  &__reviews {
    border-left: 2px solid var(--color-blue-dark);
    margin: 2rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 136rem;
    min-height: 30rem;
    animation: appear 1s linear;
    @media only screen and (max-width: 1025px) {
      width: 100%;
    }
    &-heading {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 2rem;
      padding: 1rem 0;
      font-size: 2rem;
      color: var(--color-blue-dark);
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--color-blue-dark);
      }
    }
    &-wrapper {
      padding: 5rem 2rem;
    }

    &-item {
      margin-top: 3rem;
      color: var(--color-white-2);
      padding-bottom: 2rem;
      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }

    &-author {
      font-size: 2.4rem;
    }

    &-content {
      margin-top: 1rem;
      font-style: italic;
      font-size: 1.6rem;
      font-weight: 100;
    }
    & a,
    & a:active {
      text-decoration: none;
      color: var(--color-white-2);
    }
    &-check {
      margin-top: 1rem;
      font-size: 1.3rem;
      cursor: pointer;
      display: inline-block;
      &:hover {
        color: var(--color-blue-dark);
      }
      & span {
        transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &:hover span {
        margin-left: 2rem;
      }
    }
    &-paragraph {
      text-align: center;
    }
  }
  & .swiper-wrapper {
    width: 136rem;
  }
  &__character,
  &__character:visited,
  &__character:link {
    text-align: center;
    color: var(--color-white-2);
  }
}
.icon-arrow-left {
  cursor: pointer;
  z-index: 5;
  position: absolute;
  top: 3rem;
  right: 3rem;
  height: 5rem;
  width: 5rem;
  fill: var(--color-white-2);

  @media only screen and (max-width: 415px) {
    right: 1rem;
    top: 4rem;
  }
}

.message__favorite {
  position: absolute;
  right: 1rem;
  bottom: 9rem;
  color: var(--color-arrow-1);
  font-size: 1.4rem;
  font-weight: 400;
  @media only screen and (max-width: 361px) {
    bottom: 22rem;
  }
}
