.bm-item {
  display: inline-block;

  text-decoration: none;
  margin-bottom: 2rem;
  color: var(--color-white-2);
  transition: color 0.2s;
}

.bm-burger-button {
  position: fixed;
  width: 3.6rem;
  height: 3rem;
  right: 3rem;
  top: 2.5rem;
  @media only screen and (min-width: 1026px) {
    display: none;
  }
  @media only screen and (max-width: 415px) {
    top: 1.5rem;
  }
}

.bm-burger-button > button:active {
  outline: none;
}

.bm-burger-bars {
  background: var(--color-arrow-1);
}

.bm-cross-button {
  font-size: 3rem !important;
  color: var(--color-arrow-1);
  top: 15px !important;
  right: 30px !important;
}
.bm-cross-button > button:active {
  outline: none;
  border: none;
}
.bm-cross-button > span {
  top: 0 !important;
}

.bm-cross {
  background: var(--color-arrow-1);
  width: 5px !important;
  height: 25px !important;
}

.bm-item,
.bm-item:active {
  border: none;
  outline: none;
  width: 50%;
}

.bm-menu {
  background: var(--color-nav-2);
  padding: 2.5em 1.5em 0;
  font-size: 1.8rem;
}
.bm-menu-wrap {
  @media only screen and (max-width: 415px) {
    width: 200px !important;
  }
}

.bm-morph-shape {
  fill: var(--color-nav-2);
}

.bm-item-list {
  color: var(--color-white-2);
}
.bm-item-list .active {
  color: var(--color-arrow-1);
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
