:root {
  --color-blue-dark: #107896;

  --color-primary: #1f2e3d;
  --color-primary-2: #132131;

  --color-nav: #132131;
  --color-nav-2: #384755;

  --color-dark-grey: #606971;

  --color-green: #1be28d;

  --color-white: #fff;
  --color-white-2: #ccc;

  --color-arrow-1: #23a052;
  --color-arrow-2: #11c454;
}
