@import "./variables";
@import "./animations";
@import "./utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
}
html {
  font-size: 62.5%;
  @media only screen and(min-width: 1921px) {
    font-size: 75%;
  }

  @media only screen and (max-width: 1601px) {
    font-size: 56.5%;
  }
  @media only screen and (max-width: 1441px) {
    font-size: 52%;
  }
  @media only screen and (max-width: 1367px) {
    font-size: 48%;
  }
}
body {
  background: var(--color-primary);
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
}
