@import "./variables";
@import "./mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background: var(--color-primary); /* fallback for old browsers */

  font-family: "Open Sans", sans-serif;

  //TEMPORARY
  // min-height: 100vh;
}

aside {
  // width: 50rem;
  // flex-grow: 1;
  // flex-basis: 0 0 100%;
  // align-self: stretch;
  // height: 100%;
}

main {
  display: flex;
  flex-direction: row;
}
