.modal {
  position: fixed;
  z-index: 500;
  background-image: linear-gradient(
    to right,
    var(--color-nav) 0%,
    var(--color-nav) 100%
  );
  overflow: hidden;
  width: 50%;
  //   border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  //   padding: 16px;
  left: 25%;
  top: 25%;
  //   transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
  &__video {
    position: absolute;
    right: -55rem;
    top: 0;
    // width: 70%;
    height: 100%;
    z-index: -3;
    &-bgc {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: -1;
      }
    }
  }
  &__closed {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    background-color: var(--color-arrow-1);
    border: none;
    cursor: pointer;
    &:hover {
      background-color: var(--color-arrow-2);
    }
  }
}
