.main__sort {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 136rem;
  animation: appear 0.7s linear;

  &-search {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 136rem;
    margin-top: 2rem;
    &-btn {
      //   color: black;
      margin-top: 7rem;
      padding: 1rem;
      width: 13rem;
      height: 4rem;
      border-radius: 5rem;
      border: none;
      color: var(--color-white-2);
      color: lightgrey;
      // opacity: 0;
      text-transform: uppercase;
      animation: moveInBottom 0.5s ease-out 0.3s;
      animation-fill-mode: backwards;
      background: linear-gradient(
        45deg,
        var(--color-arrow-1),
        var(--color-arrow-2)
      );
      // animation: showUp 0.5s linear;
      transition: 0.4s all;
      &:hover {
        cursor: pointer;
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
      }
      &:active {
        transform: translateY(0);
        box-shadow: none;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  & span {
    color: var(--color-white-2);
    position: absolute;
    font-size: 1.6rem;
  }
  &-pages {
    color: var(--color-white-2);
    margin-top: 2.4rem;
    font-size: 1.6rem;
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 136rem;
    & span {
      font-weight: 600;
      // font-size: 1.8rem;
      color: var(--color-arrow-1);
      margin: 0 1rem;
      display: inline-block;
    }
  }
}

.main__sort-range {
  display: inline;
  position: relative;
  margin-bottom: 0.6rem;
  & span {
    font-size: 1.6rem;
    display: block;
    margin-bottom: 1rem;
    top: 4.5rem;
  }
}
#rangeValue {
  color: var(--color-dark-grey);
  font-size: 1.8rem;
  position: absolute;
  right: 0;
  top: 4.3rem;
  padding: 2px;
  width: 5rem;
  box-sizing: border-box;
  background-color: var(--color-white-2);
  text-align: center;
}

.range {
  width: 17rem;
  height: 1px;
  background-color: var(--color-dark-grey);
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    var(--color-arrow-1),
    var(--color-arrow-2)
  );
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.main__sort-select {
  display: inline-block;

  position: relative;
  transition: 0.4s all;
  & select {
    font-family: inherit;
    cursor: pointer;
    background-color: var(--color-arrow-1);
    color: var(--color-white-2);
    padding: 10px;
    width: 21rem;
    border: none;
    font-size: 1.6rem;

    -webkit-appearance: button;
    outline: none;
    transition: 0.4s all;
    border-radius: 5px;

    &:focus > option:checked {
      background: #17803e;
    }
  }
  &:before {
    content: "\f358";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4.2rem;
    text-align: center;
    line-height: 4.2rem;
    color: var(--color-white-2);
    font-size: 2.2rem;
    background-color: #17803e;
    pointer-events: none;
    transition: 0.4s all;
    z-index: 5;
  }
  &:hover:before {
    background-color: var(--color-arrow-2);
  }
}

.main__sort-year {
  display: inline-block;
  width: 25rem;
  position: relative;

  & .noUi-connects {
    height: 10px;
  }
  & .noUi-connect {
    background: linear-gradient(
      45deg,
      var(--color-arrow-1),
      var(--color-arrow-2)
    );
    height: 1px;
  }
  & .noUi-horizontal {
    height: 1px;
  }
  & .noUi-target {
    background-color: var(--color-dark-grey);
    height: 1px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  }
  & .noUi-handle {
    background: linear-gradient(
      45deg,
      var(--color-arrow-1),
      var(--color-arrow-2)
    );
  }
  & .noUi-horizontal .noUi-handle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: linear-gradient(
      45deg,
      var(--color-arrow-1),
      var(--color-arrow-2)
    );
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    border: none;
    top: -1rem;
    cursor: pointer;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  &-error {
    position: absolute;
    top: -6rem;
    left: -3rem;
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 1rem;
    color: var(--color-white-2);
    width: 34rem;
    // display: block;
    // left: -8rem;
    font-size: 1.4rem;
    transition: 0.4s all;
  }
}

.main__sort-buttons {
  //   margin: 0 auto;
  display: flex;
  max-width: 136rem;
  justify-content: center;
  margin-top: 3rem;
  & button {
    color: var(--color-white-2);
    background-color: var(--color-nav-2);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    margin-left: 3rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    &:active {
      transform: translateY(0.1rem);
      box-shadow: none;
    }
    &:first-of-type {
      margin-left: -0.5rem;
    }
  }
}
.main__sort-info--2 {
  position: absolute;
  left: 18rem;
  width: 12rem;
  margin-top: 3.2rem;
}
.main__sort-info--1 {
  position: absolute;
  left: 0;
  margin-top: 3.2rem;
}
.main__sort-info-input {
  width: 8rem;
  background: transparent;
  border: none;
  color: var(--color-white-2);
  padding: 1rem;
  &::-webkit-inner-spin-button {
    opacity: 1;
  }
  &:focus {
    outline: 1px solid var(--color-arrow-1);
  }
}
