.search {
  margin-left: 4rem;
  position: relative;
  // transition: .3s transform;
  // transform: scale(1.2);
  & input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem 1rem;
    padding-left: 0;
    width: 14rem;
    font-family: inherit;
    transition: all 0.5s ease-out;
    color: white;
    margin-left: 2rem;
    position: relative;
    // position: relative;
    &::placeholder {
      opacity: 0.5;
      color: white;
      transition: opacity 0.5s;
    }
    &:focus {
      // width: 25rem;
      outline: none;
      border-bottom: 1px solid white;
      &::placeholder {
        opacity: 0;
      }
    }
    &:focus + .fa-search {
      color: var(--color-arrow-1);
    }
  }
  & i {
    margin-left: 2rem;
    font-size: 1.6rem;
    vertical-align: -3px;
    color: rgba(255, 255, 255, 0.5);
  }
}
